
*{
    padding: 0px;
    margin:0px;
    box-sizing:border-box ;
}

.slider_container{
    margin:auto;
    width:40%;
    overflow: hidden;
    position: relative;
    border: whitesmoke 3px solid;
}
.sliders{
    display: flex;
    width: 40%;
}

#nextBtn{
    position:absolute;
    top:50%;
    right: 5%;
    font-size:25px;
    cursor: pointer;
    z-index: 10;
    color:white;
}

#preBtn{
    position:absolute;
    top:50%;
    left: 5%;
    font-size:25px;
    cursor: pointer;
    z-index: 10;
    color:white;
}







