
*{
    padding: 0px;
    margin:0px;
    box-sizing:border-box ;
}

.slider-container{
        margin:auto;
        width:auto;
        border: 3px solid papayawhip;
    
}
.sliders{
    display: flex;
}